@{
    ViewData["Title"] = "First";
}
<h2>First</h2>
<div class="container">
	<div class="card">
		<div class="card-body">
			First page text.
			<br />
			<a href="/" class="card-link">home</a>
		</div>
	</div>	
</div>

