
@{
    ViewData["Title"] = "Second";
}
<h2>Second</h2>
<div class="container">
	<div class="card" style="width: 18rem;">
		<img src="~/img/untitled.png" class="card-img-top" alt="...">
		<div class="card-body">
			<p class="card-text">Secont page with a picture</p>
		</div>
	</div>
</div>

