
@{
    ViewData["Title"] = "Third";
}
<h2>Third</h2>
<div class="container">
	<div class="card">
		<div class="card-header">
			Some Title
		</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p>Some text on this page</p>
				<footer class="blockquote-footer"><cite title="Source Title">Tretyak Vyacheslav</cite></footer>
			</blockquote>
		</div>
	</div>
</div>

